.res {
  width: 100px;
  height: 40px;
  margin-right: 8px;
  margin-top: 20px;
}
input {
  width: 200px;
  height: 50px;
  margin-bottom: 5px;
  padding-left: 6px;
  font-size: 18px;
}
label {
  font-size: 20px;
  width: 100px;
  display: block;
  margin-bottom: 5px;
}
select {
  width: 210px;
  height: 50px;
  font-size: 16px;
  padding-left: 6px;
  margin-bottom: 20px;
}
.supper {
  margin: 0 auto;
}